In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import json

In [3]:
match = pd.read_csv('/Users/Daigo/Data/NBA/SportVU/match.csv')

In [5]:
match[0:10]

,player_id,lastname,firstname,jersey,position,team_id,x_loc,y_loc,radius,game_clock,shot_clock,quarter,event.id
0,201567,Love,Kevin,0.0,F,1.610613e+09,36.68877,24.80455,0.0,720.0,24.0,1,1
1,201567,Love,Kevin,0.0,F,1.610613e+09,36.68877,24.80455,0.0,720.0,24.0,1,2
2,201567,Love,Kevin,0.0,F,1.610613e+09,36.69438,24.79715,0.0,720.0,24.0,1,2
3,201567,Love,Kevin,0.0,F,1.610613e+09,36.69438,24.79715,0.0,720.0,24.0,1,1
4,201567,Love,Kevin,0.0,F,1.610613e+09,36.70210,24.78821,0.0,720.0,24.0,1,1
5,201567,Love,Kevin,0.0,F,1.610613e+09,36.70210,24.78821,0.0,720.0,24.0,1,2
6,201567,Love,Kevin,0.0,F,1.610613e+09,36.70866,24.77443,0.0,720.0,24.0,1,1
7,201567,Love,Kevin,0.0,F,1.610613e+09,36.70866,24.77443,0.0,720.0,24.0,1,2
8,201567,Love,Kevin,0.0,F,1.610613e+09,36.71597,24.75551,0.0,720.0,24.0,1,1
9,201567,Love,Kevin,0.0,F,1.610613e+09,36.71597,24.75551,0.0,720.0,24.0,1,2